* {
margin: 0px;
padding: 0px;
}

.container {
    color: white;
    text-align: center;
    padding: 125px 0px 0px 0px;
}

.container>h3>span, h1 {
    color: yellow;
}

.container>button {
    background-color: yellow;
    padding: 10px;
    border-radius: 10%;
    color: black;
    margin: 0px 0px 0px 50px;
}

.container>a {
    text-decoration: none;
    background-color: white;
    color: black;

}

body {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to bottom, rgba(0, 128, 117, 0.116), rgba(0, 128, 117, 0.116)), url(./img/fundo6exp.png);
    z-index: -2;
}

main {
    height: 100vh;
    width: 100vw;
    background-image: url(./img/mulherexp2.png);
    z-index: -1;
    opacity: 0.3;
    background-repeat: no-repeat;
    background-position: top center;
}



